@use "global/bootstrap";

.search-hotel {
  text-align: center;
  text-transform: uppercase;
  padding-top: 39px;
  padding-bottom: 49px;
}

.search-hotel__wrapper {

}

.search-hotel__title {
  margin: 0;
  margin-bottom: 29px;
  line-height: 26px;
}

.search-hotel__description {
  margin: 0;
  margin-bottom: 32px;
}

.search-hotel__find-hotel {
  width: 284px;
  font-size: 21px;

  @include bootstrap.button;
}
