@use "global/bootstrap";

.services {
  background-color: bootstrap.$main-bgColor;
  color: bootstrap.$black-color;
}

.services__wrapper {
  width: 284px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 46px;
}

.services__list {
  @include bootstrap.reset-list;
}

.services__item {
  text-align: left;
  margin-left: 47px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.services__title {
  margin: 0;
  margin-top: 8px;

  @include bootstrap.title;
  margin-bottom: 16px;
}

.services__description {
  margin: 0;
}
