@use "global/bootstrap";

.advantages {
  text-align: center;
  text-transform: uppercase;
}

.advantages__header {
  margin: 0 auto;
  padding: 32px 0;
  width: 284px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 47px 55px;
    width: 520px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding: 59px 44px;
    width: 483px;
  }
}
