@use "global/bootstrap";

.advantages {
  text-align: center;
  text-transform: uppercase;
}

.advantages__header {
  margin: 32px auto;
  width: 284px;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 47px auto;
    width: 520px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin: 59px auto;
    width: 483px;
  }
}
