@use "global/bootstrap";

.card {
  @media (min-width: bootstrap.$tablet-width) {
    width: 50%;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: calc(100% / 3);
  }

  &--big {
    @media (min-width: bootstrap.$tablet-width) {
      width: 100%;

      .card__image-wrapper {
        height: 400px;
      }
    }
  }
}

.card__image-wrapper {
  width: 100%;
  height: 280px;
  display: block;

  @media (min-width: bootstrap.$tablet-width) {
    height: 267px;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__detail-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 11px;

  @media (min-width: bootstrap.$tablet-width) {
    flex-direction: row;
    align-items: center;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }

  @media (min-width: bootstrap.$desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: bootstrap.$white-color;
    padding: 17px 20px 17px 25px;
  }
}

.card__title {
  @include bootstrap.normalTitle;
  color: bootstrap.$title-color;
  text-transform: uppercase;

  @media (min-width: bootstrap.$desktop-width) {
    color: bootstrap.$white-color;
  }
}

.card__author-name {
  margin: 0;
}

.card__statistics-wrapper {
  @media (min-width: bootstrap.$tablet-width) {
    margin-left: auto;
  }
}

.card__statistics-link {
  &::before {
    content: "";
    display: inline-block;
    height: 21px;
    width: 23px;
    mask-image: url("../img/sprite.svg#icon-like");
    background-color: #000000;
    opacity: 0.3;

    @media (min-width: bootstrap.$desktop-width) {
      background-color: bootstrap.$white-color;
      opacity: 1;
    }
  }
}

.card__statistics-amount {
  color: bootstrap.$title-color;
  display: inline-block;
  margin-left: 9px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-left: 9px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    color: bootstrap.$white-color;
  }
}
