@use "global/bootstrap";

.checkbox__text {
  @include bootstrap.boldTitle;
  position: relative;
  color: bootstrap.$title-color;
  display: block;
  white-space: nowrap;
  padding-left: 62px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #f2f2f2;
    border-radius: 4px;
  }
}

.checkbox__input[type="checkbox"]:checked + .checkbox__text::after {
  content: "";
  mask-image: url("../img/sprite.svg#tick");
  width: 22px;
  height: 16px;
  position: absolute;
  background-color: #000000;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.checkbox__input:focus-visible + .checkbox__text::before {
  outline: 3px solid #83b3d3;
}

.checkbox__input:hover + .checkbox__text::before {
  background-color: #e5e5e5;
}

.checkbox__input:checked:active + .checkbox__text::after {
  background-color: rgba(51, 51, 51, 0.3);
}

.checkbox__input:active + .checkbox__text::before {
  background-color: #d5d5d5;
}
