@use "global/bootstrap.scss";

.copyright {
  color: bootstrap.$title-color;
  position: relative;
  padding-right: 40px;
}

.copyright__title {
  display: inline-block;
  padding: 7px 0;
}

.copyright__link {
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 35px;
    mask-image: url("../img/stack.svg#icon-academy");
    background-color: #000000;

    top: 0;
    right: 0;
  }
}
