@use "global/bootstrap";

.feedback__wrapper {
  padding: 36px 20px 22px;
}

.feedback__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 28px;
  min-width: 280px;
}

.feedback__form {
  width: 280px;
}
