@use "global/bootstrap";

.input-text {
  display: flex;
  flex-direction: column;
}

.input-text__label {
  text-transform: uppercase;
}

.input-text__input {
  @include bootstrap.boldTitle;
  color: bootstrap.$title-color;

  width: 100%;
  height: 58px;
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
}
