@use "global/bootstrap";

.main-header {
  @include bootstrap.boldTitle;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: bootstrap.$white-color;
  min-height: 56px;
  background-color: bootstrap.$main-colorbg;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
