@use "global/bootstrap";

.main-hero {
  display: flex;
  justify-content: center;
  background-color: bootstrap.$inner-colorbg;
  padding-top: 52px;
  padding-bottom: 67px;

  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: bootstrap.$tablet-width) {
    padding-top: 95px;
    padding-bottom: 117px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding-top: 101px;
    padding-bottom: 120px;
  }

  &--index {
    padding-top: 90px;
    padding-bottom: 85px;

    @media (min-width: bootstrap.$tablet-width) {
      padding-top: 77px;
      padding-bottom: 91px;
    }
  }
}
