@use "global/bootstrap.scss";

.modal {
  background-color: bootstrap.$main-bgColor;
  width: 320px;

  &__wrapper {
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    @include bootstrap.boldTitle;
    color: bootstrap.$title-color;
    margin-bottom: 36px;
  }

  &__message {
    margin: 0;
    margin-bottom: 28px;
  }

  &__button {
    @include bootstrap.button;
    width: 180px;
    height: 58px;
    padding: 16px 0;
  }
}
