@use "global/bootstrap.scss";

.modal {
  background-color: bootstrap.$main-colorbg;
  text-align: center;
  display: flex;
  flex-direction: column;

  &--failure {
    display: none;
    width: 320px;
    margin: 0 auto;
    margin-top: 116px;
    padding: 45px 0 35px;

    @media (min-width: bootstrap.$tablet-width) {
      width: 400px;
      margin-top: 283px;
      padding: 55px 0 49px;
    }

    @media (min-width: bootstrap.$desktop-width) {
      margin-top: 244px;
      padding: 48px 0 49px;
    }

    .modal__wrapper {
      width: 237px;
      margin-bottom: 28px;

      @media (min-width: bootstrap.$tablet-width) {
        width: 307px;
        margin-bottom: 30px;
      }

      @media (min-width: bootstrap.$desktop-width) {
        margin-bottom: 23px;
      }
    }
  }

  &--success {
    display: none;
    width: 320px;
    margin: 0 auto;
    margin-top: 402px;

    @media (min-width: bootstrap.$tablet-width) {
      width: 640px;
      margin-top: 162px;
    }

    @media (min-width: bootstrap.$desktop-width) {
      margin-top: 145px;
    }

    .modal__wrapper {
      width: 244px;
      margin-top: 36px;
      margin-bottom: 27px;

      @media (min-width: bootstrap.$tablet-width) {
        width: 444px;
        margin-top: 53px;
        margin-bottom: 35px;
      }

      @media (min-width: bootstrap.$desktop-width) {
        margin-top: 51px;
        margin-bottom: 28px;
      }
    }
  }
}

.modal__wrapper {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.modal__title {
  @include bootstrap.boldTitle;
  color: bootstrap.$title-color;
  margin-bottom: 36px;
}

.modal__message {
  margin: 0;
}

.modal__button-wrapper {
  background-color: #f2f2f2;
}

.modal__button {
  @include bootstrap.button;
  width: 180px;
  padding: 18px 14px;
  margin: 0 auto;

  @media (min-width: bootstrap.$tablet-width) {
    width: 272px;
  }

  &--close {
    width: 280px;
    margin: 20px auto;

    @media (min-width: bootstrap.$tablet-width) {
      width: 458px;
      margin: 44px auto;
    }
  }
}
