@use "global/bootstrap.scss";

.page {
  @include bootstrap.normalTitle;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
}

.page__body {
  margin: 0;
  color: bootstrap.$secondary-color;
  background-color: bootstrap.$main-colorbg;
}
