@use "global/bootstrap";

.search-hotel {
  text-align: center;
  text-transform: uppercase;
}

.search-hotel__wrapper {
  width: 262px;
  margin: 39px auto 32px;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 60px auto 45px;
    width: 438px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin: 61px auto 44px;
    width: 435px;
  }
}

.search-hotel__find-hotel {
  @include bootstrap.button;
  width: 284px;
  min-height: 58px;
  padding: 16px 0;
  margin-bottom: 49px;

  @media (min-width: bootstrap.$tablet-width) {
    width: 458px;
    margin-bottom: 55px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 458px;
    margin-bottom: 66px;
  }
}
