@use "global/bootstrap";

.social {
  text-align: center;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: bootstrap.$inner-colorbg;
}

.social__link {
  display: block;
  padding: 12px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    opacity: 0.3;
  }

  &::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
  }

  &--vk::after {
    background-image: url("../img/stack.svg#icon-vk");
  }

  &--telegram::after {
    background-image: url("../img/stack.svg#icon-telegram");
  }

  &--youtube::after {
    background-image: url("../img/stack.svg#icon-youtube");
  }
}
