@use "global/bootstrap";

.video-presentation {
  text-align: center;
  text-transform: uppercase;
  margin: 0 20px;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 800px;
    margin: 0 auto;
  }
}

.video-presentation__wrapper {
  display: flex;
  flex-direction: column;
  width: 266px;
  margin: 17px auto 38px;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 57px auto 91px;
    width: 445px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin: 61px auto 87px;
  }
}

.video-presentation__image-wrapper {
  position: relative;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 84px;
  }
}

.video-presentation__image {
  width: 100%;
  display: block;
  min-height: 177px;
  object-fit: cover;

  @media (min-width: bootstrap.$tablet-width) {
    height: 500px;
  }
}

.video-presentation__button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
