@use "global/bootstrap";

.video-presentation__image-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/play.png");
    width: 48px;
    height: 54px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.video-presentation {
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0 60px;
  }
}

.video-presentation__wrapper {
  display: flex;
  flex-direction: column;
  width: 266px;
  margin: 17px auto 38px;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 57px auto 65px;
    width: 445px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin: 61px auto 63px;
  }
}

.video-presentation__image {
  width: 100%;
  display: block;
  min-height: 177px;
  object-fit: cover;

  @media (min-width: bootstrap.$tablet-width) {
    height: 500px;
    margin-bottom: 60px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    min-width: 800px;
    margin-bottom: 84px;
  }
}
