@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin button {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    cursor: default;
  }
}

@mixin boldTitle {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@mixin normalTitle {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}
