$main-bgColor: #ffffff;
$inner-bgColor: #81b3d2;
$container-bgColor: #e7e5e5;
$white-color: #ffffff;
$secondary-color: #333333;
$title-color: #000000;
$link-current: #766357;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
