.main-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.main-header__logo {
  position: absolute;
  margin: 0 auto;
  margin-right: 100px;
}

.main-header__nav {
  position: relative;
  width: 100%;
}
